// Going to have to style whole pause/play etc. section

.video-container {
  width: 100vw;

  &__content {
    width: 100vw;
    min-height: 183px;
  }
}

@include medium {
  .video-container {
    width: 100vw;
    height: 400px;
    background-color: $black;
    display: flex;
    justify-content: center;

    &__content {
      width: 700px;
      margin: $center;
    }
  }
}

@include large {
  .video-container {
    height: 540px;

    &__content {
      width: 944px;
    }
  }
}
