html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: "avenir";
  src: url(../assets/fonts/avenir-regular.otf);
}

@font-face {
  font-family: "avenir-demi-bold";
  src: url(../assets/fonts/avenir-demi-bold.otf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(../assets/fonts/avenir-bold.otf);
}

.header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: none;
}

.header__logo {
  width: 45vw;
  height: 48px;
  padding: 8px;
}

.header__content--search-container {
  width: calc(100vw - 32px);
  height: 48px;
  margin: 0 auto;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

.header__content--search-container-icon {
  height: 24px;
  padding: 0 12px;
}

.header__content--search-container-input {
  background-color: #fafafa;
  border: none;
  height: 46px;
}

.header__content--search-container-input::-webkit-input-placeholder {
  color: #323232;
}

.header__content--search-container-input:-ms-input-placeholder {
  color: #323232;
}

.header__content--search-container-input::-ms-input-placeholder {
  color: #323232;
}

.header__content--search-container-input::placeholder {
  color: #323232;
}

.header__content--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100vw - 32px);
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 48px;
}

.header__content--nav-button {
  width: calc(100% - 64px);
  border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #0095ff;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi-bold";
  color: #ffffff;
}

.header__content--nav--headshot {
  width: 48px;
  border-radius: 48px;
}

@media only screen and (min-width: 768px) {
  .header {
    width: calc(100vw - 48px);
    height: 80px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    width: 25vw;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55vw;
  }
  .header__content--search-container {
    width: 55%;
  }
  .header__content--nav {
    width: 45%;
    padding-left: 24px;
    margin-bottom: unset;
    margin-top: unset;
  }
  .header__content--nav-button {
    width: calc(100% - 64px);
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    width: calc(100vw - 360px);
  }
  .header__logo {
    width: 10vw;
  }
  .header__content {
    width: 35vw;
  }
}

.video-container {
  width: 100vw;
}

.video-container__content {
  width: 100vw;
  min-height: 183px;
}

@media only screen and (min-width: 768px) {
  .video-container {
    width: 100%;
    height: 400px;
    background-color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-container__content {
    width: 700px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .video-container {
    height: 540px;
  }
  .video-container__content {
    width: 944px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.post {
  width: calc(100vw - 32px);
  margin: 0 auto;
}

.post-container {
  padding-top: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.post-container__heading {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir-bold";
  margin-bottom: 16px;
}

.post-container__info-stamps {
  margin-bottom: 32px;
}

.post-container__info-stamps-creator {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi-bold";
}

.post-container__info-stamps-date {
  font-size: 12px;
  line-height: 20px;
  font-family: "avenir-demi-bold";
  text-transform: uppercase;
  color: #afafaf;
  margin-left: 8px;
}

.post-container__info-stats {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir";
}

.post-container__info-stats-likes {
  margin-left: 24px;
}

.post-description {
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir";
}

@media only screen and (min-width: 768px) {
  .post {
    width: calc(100vw - 48px);
    margin-bottom: 64px;
  }
  .post-container {
    padding-top: 48px;
  }
  .post-container__heading {
    font-size: 36px;
    line-height: 44px;
    font-family: "avenir-bold";
    margin-bottom: 24px;
  }
  .post-container__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .post-container__info-stamps {
    margin-bottom: unset;
  }
  .post-container__info-stamps-creator {
    font-size: 16px;
    line-height: 24px;
    font-family: "avenir-demi-bold";
  }
  .post-container__info-stamps-date {
    font-size: 14px;
    line-height: 20px;
    font-family: "avenir";
  }
  .post-container__info-stats {
    font-size: 14px;
    line-height: 22px;
    font-family: "avenir";
  }
  .post-description {
    width: 70vw;
    font-size: 14px;
    line-height: 22px;
    font-family: "avenir";
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .post {
    width: 49.44vw;
    margin: unset;
    margin-left: 180px;
  }
  .post-container__info-stats {
    margin-right: 32px;
  }
  .post-description {
    width: 36.67vw;
  }
}

.comments {
  width: calc(100vw - 32px);
  margin: 0 auto;
}

.comments-form {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.comments-form__heading {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi-bold";
  margin-bottom: 32px;
}

.comments-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-form__container-img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin: 16px 16px 0 0;
}

.comments-form__container-subdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments-form__container-subdiv-input {
  margin-bottom: 16px;
}

.comments-form__container-subdiv-input--heading {
  font-size: 12px;
  line-height: 20px;
  font-family: "avenir-demi-bold";
  text-transform: uppercase;
  color: #afafaf;
}

.comments-form__container-subdiv-input--content {
  width: 100%;
  height: 96px;
  border: 2px solid #0095ff;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 6px;
}

.comments-form__container-subdiv-input--content::-webkit-input-placeholder {
  color: #323232;
  white-space: pre-line;
}

.comments-form__container-subdiv-input--content:-ms-input-placeholder {
  color: #323232;
  white-space: pre-line;
}

.comments-form__container-subdiv-input--content::-ms-input-placeholder {
  color: #323232;
  white-space: pre-line;
}

.comments-form__container-subdiv-input--content::placeholder {
  color: #323232;
  white-space: pre-line;
}

.comments-form__container-subdiv-button {
  height: 48px;
  background-color: #0095ff;
  border: none;
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi-bold";
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .comments {
    width: calc(100vw - 48px);
  }
  .comments-form__heading {
    font-size: 16px;
    line-height: 24px;
    font-family: "avenir-demi-bold";
  }
  .comments-form__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .comments-form__container-subdiv {
    margin-right: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .comments-form__container-subdiv-input {
    width: 57.29vw;
    margin-bottom: unset;
  }
  .comments-form__container-subdiv-input--content {
    height: 48px;
  }
  .comments-form__container-subdiv-button {
    width: 20.83vw;
    margin-left: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .comments {
    width: 49.44vw;
    margin: unset;
    margin-left: 180px;
  }
  .comments-form__container {
    width: 100%;
  }
  .comments-form__container-subdiv {
    width: calc(100% - 96px);
  }
}

.builder {
  width: calc(100vw - 32px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #e1e1e1;
}

.builder__img-container {
  width: 48px;
  height: 48px;
}

.builder__img-container--content {
  width: 100%;
  height: 100%;
  border-radius: 48px;
}

.builder__comment-display {
  width: calc(100% - 64px);
}

.builder__comment-display--stamps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.builder__comment-display--stamps-name {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi-bold";
}

.builder__comment-display--stamps-time {
  font-size: 12px;
  line-height: 20px;
  font-family: "avenir-demi-bold";
  text-transform: uppercase;
  color: #afafaf;
}

.builder__comment-display--content {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir";
}

@media only screen and (min-width: 768px) {
  .builder {
    width: calc(100vw - 48px);
  }
  .builder__comment-display--stamps {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .builder__comment-display--stamps-name {
    font-size: 16px;
    line-height: 24px;
    font-family: "avenir-demi-bold";
  }
  .builder__comment-display--stamps-time {
    font-size: 14px;
    line-height: 20px;
    font-family: "avenir";
    margin-left: 16px;
  }
  .builder__comment-display--content {
    width: 81.25vw;
    font-size: 14px;
    line-height: 22px;
    font-family: "avenir";
  }
}

@media only screen and (min-width: 1440px) {
  .builder {
    width: 100%;
  }
  .builder__comment-display--content {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */