html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

@import "./partials/breakpoints";
@import "./partials/variables";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/_video";
@import "./partials/post-info";
@import "./partials/comment-section";
@import "./partials/builder";
@import "./partials/aside";
