html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: "avenir";
  src: url(../assets/fonts/avenir-regular.otf);
}

@font-face {
  font-family: "avenir-demi-bold";
  src: url(../assets/fonts/avenir-demi-bold.otf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(../assets/fonts/avenir-bold.otf);
}

.header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: none;
}

.header__logo {
  width: 45vw;
  height: 48px;
  padding: 8px;
}

.header__content--search-container {
  width: calc(100vw - 32px);
  height: 48px;
  margin: 0 auto;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

.header__content--search-container-icon {
  height: 24px;
  padding: 0 12px;
}

.header__content--search-container-input {
  background-color: #fafafa;
  border: none;
  height: 46px;
}

.header__content--search-container-input::-webkit-input-placeholder {
  color: #323232;
}

.header__content--search-container-input:-ms-input-placeholder {
  color: #323232;
}

.header__content--search-container-input::-ms-input-placeholder {
  color: #323232;
}

.header__content--search-container-input::placeholder {
  color: #323232;
}

.header__content--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100vw - 32px);
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 48px;
}

.header__content--nav-button {
  width: calc(100% - 64px);
  border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #0095ff;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-family: "avenir-demi-bold";
  color: #ffffff;
}

.header__content--nav--headshot {
  width: 48px;
  border-radius: 48px;
}

@media only screen and (min-width: 768px) {
  .header {
    width: calc(100vw - 48px);
    height: 80px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    width: 25vw;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55vw;
  }
  .header__content--search-container {
    width: 55%;
  }
  .header__content--nav {
    width: 45%;
    padding-left: 24px;
    margin-bottom: unset;
    margin-top: unset;
  }
  .header__content--nav-button {
    width: calc(100% - 64px);
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    width: calc(100vw - 360px);
  }
  .header__logo {
    width: 10vw;
  }
  .header__content {
    width: 35vw;
  }
}
/*# sourceMappingURL=main.css.map */